# Dependency directory
node_modules/

# Environment variables
.env
.env.*.local

# Logs
*.log
logs/

# Build (if using TypeScript or bundlers like webpack)
dist/
build/

# OS/System files (Windows)
Thumbs.db
Desktop.ini

# Editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
